In [2]:
import pandas as pd  
import numpy as np  
import seaborn as sns  
import matplotlib.pyplot as plt  
from sklearn.model_selection import train_test_split  
from sklearn.metrics import accuracy_score  
from sklearn.metrics import classification_report  
import re  
import string

In [3]:
#importing datasets
df_fake = pd.read_csv(r"C:\Users\Aashi Kushwah\Desktop\Fake.csv")  

df_true = pd.read_csv(r"C:\Users\Aashi Kushwah\Desktop\True.csv")  
  
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
df_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
df_fake["class"] = 0  
df_true["class"] = 1

In [6]:
df_true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
 4   class    21417 non-null  int64
dtypes: int64(1), object(4)
memory usage: 836.7+ KB

In [7]:
df_fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
 4   class    23481 non-null  int64
dtypes: int64(1), object(4)
memory usage: 917.4+ KB

In [8]:
# Now, we will look at the shape of both the dataset  
df_fake.shape, df_true.shape

((23481, 5), (21417, 5))

In [9]:
#dataframe_fake dataset contains 23481 rows and 5 columns.

#dataframe_true dataset contains 21417 rows and 5 columns.
# We will remove the last 10 rows for manual testing  
df_fake_manual_testing = df_fake.tail(10)  
for i in range(23480,23470,-1):  
    df_fake.drop([i], axis = 0, inplace = True)  
     
df_true_manual_testing = df_true.tail(10)  
for i in range(21416,21406,-1):  
    df_true.drop([i], axis = 0, inplace = True)  
# Let's have a look at the change in the shape of both the dataset  
df_fake.shape, df_true.shape

((23471, 5), (21407, 5))

In [10]:
#Inserting the class column in both of the manual testing datasets  
df_fake_manual_testing["class"] = 0  
df_true_manual_testing["class"] = 1  
df_fake_manual_testing.head(10)

C:\Users\Aashi Kushwah\AppData\Local\Temp\ipykernel_164\1105885124.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fake_manual_testing["class"] = 0
C:\Users\Aashi Kushwah\AppData\Local\Temp\ipykernel_164\1105885124.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_manual_testing["class"] = 1

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [11]:
df_true_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [12]:
df_fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23471 entries, 0 to 23470
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23471 non-null  object
 1   text     23471 non-null  object
 2   subject  23471 non-null  object
 3   date     23471 non-null  object
 4   class    23471 non-null  int64
dtypes: int64(1), object(4)
memory usage: 917.0+ KB

In [13]:
df_fake.describe()

         class
count  23471.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0

In [14]:
#merging data

df_merge=pd.concat([df_fake,df_true],axis=0)

In [15]:
df_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [16]:
df_merge.head(1)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0

In [17]:
# We will remove the columns that are required for us  
df = df_merge.drop(["title", "subject","date"], axis = 1)

In [18]:
# Let's check if there are any null values in the dataset  
df.isnull().sum()

text     0
class    0
dtype: int64

In [19]:
#As we have only concat the two datasets so it will be true and fake datasets are arranged just after one another. So we need to create randomness in the dataset. We can shuffle the rows of the dataset.
df=df.sample(frac=1)

In [20]:
df.head()

                                                    text  class
19041  President Trump on Saturday claimed President ...      0
22806  21st Century Wire says With the ongoing hyster...      0
7762   LAS VEGAS - As Republican presidential nominee...      1
7304   Poor, poor Ted Cruz. He just can t catch a bre...      0
18005  KABUL (Reuters) - The International Committee ...      1

In [21]:
df.reset_index(inplace=True)

In [22]:
df.drop(['index'],axis=1,inplace=True)

In [23]:
df.head()

                                                text  class
0  President Trump on Saturday claimed President ...      0
1  21st Century Wire says With the ongoing hyster...      0
2  LAS VEGAS - As Republican presidential nominee...      1
3  Poor, poor Ted Cruz. He just can t catch a bre...      0
4  KABUL (Reuters) - The International Committee ...      1

In [24]:
# we will process a fun to process a text
def wordopt(t):  
    tt = t.lower()  
    t = re.sub('\[.*?\]', '', t)  
    t = re.sub("\\W"," ",t)  
    t = re.sub('https?://\S+|www\.\S+', '', t)  
    t = re.sub('<.*?>+', '', t)  
    t = re.sub('[%s]' % re.escape(string.punctuation), '', t)  
    t = re.sub('\n', '', t)  
    t = re.sub('\w*\d\w*', '', t)      
    return t

In [25]:

df["text"] = df["text"].apply(wordopt)  
  
#Now we will define the dependent variable and independent variables  
x = df["text"]  
y = df["class"]  
  
# Splitting the Dataset into a Training and Testing Set  
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [26]:
#convert text into vectors
from sklearn.feature_extraction.text import TfidfVectorizer  
vectorization = TfidfVectorizer()  
xv_train = vectorization.fit_transform(x_train)  
xv_test = vectorization.transform(x_test)

In [27]:
# 1.modelling-using logistic regression 

from sklearn.linear_model import LogisticRegression  
  
  
LR = LogisticRegression()  
LR.fit(xv_train,y_train)

LogisticRegression()

In [28]:
pred_lr=LR.predict(xv_test)  
LR.score(xv_test, y_test)

0.9861853832442068

In [29]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      5844
           1       0.98      0.99      0.99      5376

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [30]:
# 2.modelling - using descision tree classifier
from sklearn.tree import DecisionTreeClassifier  
  
  
DT = DecisionTreeClassifier()  
DT.fit(xv_train, y_train)

DecisionTreeClassifier()

In [ ]:
pred_dt = DT.predict(xv_test)  
DT.score(xv_test, y_test)

In [ ]:
print(classification_report(y_test, pred_dt))

In [ ]:
# model testing 
def output_lable(n):  
    if n == 0:  
        return "Fake News"  
    elif n == 1:  
        return "Not A Fake News"  
     
def manual_testing(news):  
    testing_news = {"text":[news]}  
    new_def_test = pd.df(testing_news)  
    new_def_test["text"] = new_def_test["text"].apply(wordopt)  
    new_x_test = new_def_test["text"]  
    new_xv_test = vectorization.transform(new_x_test)  
    pred_LR = LR.predict(new_xv_test)  
    pred_DT = DT.predict(new_xv_test)  
   
  
  
    return print("\n\nLR Prediction: {} \nDT Prediction: {} ".format(output_lable(pred_LR[0]),output_lable(pred_DT[0]))) 

news = str(input())  
manual_testing(news)

In [ ]:
news = str(input())  
manual_testing(news)

In [ ]:
dataframe_true.head()  
news = str(input())  
manual_testing(news)

In [ ]:
plt.figure(figsize=(20,8))
plt.bar(df['text'],df['class'],color='pink')

In [ ]:
plt.show